html,
.body {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}
.content {
  max-width: 1024px;
  margin: auto;
}
a{
  text-decoration: none;
  color: black;
}
a.nappi{
  background-color: #1CBBE8;
  color: white;
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 10px;
}

#headerWrap{
  position: fixed;
  top: 0;
  width: 100%;
}
#header{
  background-color: #1CBBE8;
  height: 90px;
  width: 1024px;
  border-bottom: 5px solid grey;
  margin: auto;
  top: 0;
  clear: both;
}
#search{
  background-color: white;
  width: 300px;
  height: 30px;
  font-size: 16px;
  display: inline-block;
  margin-left: 80px;
}
#header a.logo{
  font-size: 40px;
  margin-left: 20px;
  display: inline-block;
  margin-top: 10px;
}
#header table{
  float: right;
  border-collapse: separate;
  border-spacing: 10px;
}
#header td{
  border: 1px solid black;
  padding: 3px;
  box-shadow: 1px 1px black;
  text-align: center;
}
.kirjautuminen{
  width: 300px;
  border: 1px solid black;
  margin: 25px;
  padding: 20px;
}
.kirjautuminen label{
  margin-right: 15px;
}
.kirjautuminen input{
  float: right;
  margin-right: 20px;
}

#tuote-esittely{
  width: 200px;
  height: 500px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  float: left;
  margin: 25px;
  overflow: hidden;
}
#tuote-esittely:hover{
  border: 1px solid black;
}
#tuote-esittely a{
  text-decoration: none;
  color: black;
}
#tuote-esittely img{
  width: 96%;
  margin-left: 4px;
  margin-top: 2px;
}
#tuote-esittely h3{
  color: black;
  font-size: 24px;
  margin: 5px;
}
#tuote-esittely p{
  font-size: 16px;
  margin-left: 5px;
}
#tuote-esittely hr{
  width: 96%;
}

#ostoskori-esittely {
  width: 450px;
  height: 175px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 25px;
}
#ostoskori-esittely img{
  max-width: 100px;
  float: left;
  margin: 5px;
}
#ostoskori-esittely h3{
  float: left;
  margin: 5px;
}
#ostoskori-esittely p{
  width: 400px;
  height: 100px;
  overflow: hidden;
  margin: 1px;
}
#ostoskori-esittely input{
  width: 40px
}
.vasenpalsta{
  float: left;
  width: 50%;
  border-right: 1px solid black;
}
.oikeapalsta{
  float: left;
  width: 49%;
}
.yhteenveto{
  margin: 25px;
}
.yhteenveto table{
  border-collapse: collapse;
  width: 200px;
  border-top: 1px solid black;
}
.yhteenveto td{
  padding: 5px;
  border-bottom: 1px solid black;
  font-size: 18px;
}

.tuote img{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  display: block;
}
.tuotekuvaus{
  margin: 25px;
}
.tuotekuvaus p{
  border: 1px solid black;
  padding: 5px;
}
.tuotekuvaus input{
  width: 40px;
}
#footer {
    width: 1024px;
    height: 60px;
    bottom: 0;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1CBBE8;
    border-top: 5px solid grey;
    clear: both;
}
